@import "./reset.scss";

body {
    background: ivory;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 380px;
    background-color: black;
    height: 88%;
    border-radius: 60px;    
}

.header{
    padding: 40px 10px 0px;
    //border: 1px solid white;

    .header__list{
        color:white;
        display: flex;
        box-sizing: border-box;
        gap: 10px;
        width: max-content;
        padding: 10px 5px 20px;
        //border: 1px solid white;
        
        .header__list-item {
            border: 1px solid white;
            padding: 13px;
            border-radius: 20px;
            font-size: 13px;
        }
        .header__list-item--inverted{
            color: black;
            background-color: white;
        }
    }
}

.cards {
    margin: 10px 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    //border: 1px solid white;
    .cards__card {
        border: 1px solid white;
        color: white;
        padding: 10px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        .card__title {
            font-size: 27px;
        }
        .card__footer {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
                border: 1px solid white;
                border-radius: 15px;
                padding: 10px 10px;
            }
            .lenght {
                border: 1px solid black;
                border-radius: 15px;
                padding: 10px; 
                color: black;
                background-color: white;

            }
        }
        &:nth-child(3n) {
            grid-column: span 2;
        }
    }
    
}


